.Navbar{
    background-color: black;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFC61A;
    font-size:x-large;
}

.logo{
    width: 10%;
    padding: 10px;
}

.logo_img{
    width: 100%;
}

.home_button{
    color: #FFC61A;
    background-color: inherit;
    margin:10px;
    font-size: 90%;
    font-weight: lighter;
    text-decoration: none;
}
